body {
  /* background: url('http://i.imgur.com/Eor57Ae.jpg') no-repeat fixed center center;

  opção 01: background: url("../img/15462.jpg") no-repeat fixed center center;
  opção 02: https://png.pngtree.com/thumb_back/fw800/back_pic/03/54/91/71579b5756a020c.jpg ; ; */
  background: url("../img/fundo.jpg") no-repeat fixed center center;
  opacity: 80%;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
}

.logo {
  width: 155px;
  height: 180px;
  background: url("../img/logonovo.png") no-repeat;
/*  background: url('http://i.imgur.com/fd8Lcso.png') no-repeat; */
  margin: 20px auto;
}

.login-block {
  width: 320px;
  padding: 20px;
  background: #fff;
  border-radius: 2px;
  border-top: 7px solid #ad75ad; /*barra de acesso superior*/
  margin: 0 auto;

}

.login-block h1 {
  text-align: center;
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}

.login-block input {
  width: 100%;
  height: 42px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  padding: 0 20px 0 50px;
  outline: none;
}

.login-block input#username {
  background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px top no-repeat;
  background-size: 14px 80px;
}

.login-block input#username:focus {
  background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px bottom no-repeat;
  background-size: 14px 80px;
}

.login-block input#password {
  background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px top no-repeat;
  background-size: 14px 80px;
}

.login-block input#password:focus {
  background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px bottom no-repeat;
  background-size: 14px 80px;
}

.login-block input:active,
.login-block input:focus {
  border: 1px solid #ff656c;
}

.login-block button {
  width: 100%;
  height: 40px;
  background: #ad75ad;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #382938;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  outline: none;
  cursor: pointer;
}

.login-block button:hover {
  background: #ff656c;
  
}

/* JOTFORM styles */

